// colors
$light-orange: #ff9638;
$orange: #e38531;
$dark-orange: #da8131;
$light-black: #27272f;
$black: #222;
$dark-grey: #444;
$light-grey: #363636;
$grey: #999;
$second-grey: #888;
$light-white: #f9f4ef;
$mix-white: #f7eade;
$white: #fff;

// Paddings
$lg-top-padding: 50px;
$lg-side-padding: 140px;
